.b1, .b2, .b3, .b4, .b5, .b6{
    display:inline-block;
    position: relative;
    float: center;
    text-align: center;
    margin: 5px;
    width: 40px;
    height:40px;
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
#boxes{
	margin-left: 150px;
	float: center;
}

.rules, .ranking{
	text-decoration: underline;
}

#player1, #player2{
	margin-left: 110px;
	float: center;
	font-weight: bold;

}
.note{
	font-weight: 500;
	text-decoration: underline;
}


.gameDiscription{
	font-size: 15px;
}

.bodyContent {
	background-color: lightsteelblue;

}

#content {
    max-width: 675px;
    margin: auto;
    padding: 10px;
    background-color: white;
}

.backgroundPic{
	background-repeat: repeat;
}